*{
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  background-color: blue;
  color: white;
  font-family: 'Kalam', cursive;
  font-size: 100px;
}
section{
  text-align: center;
  color: blue;
  font-family: 'Kalam', cursive;
  font-size: 50px;

}
.ibp{
  object-fit: cover;
}
.p{
  object-fit: cover;
}
.iap{
  object-fit: cover;
}
.pb{
  object-fit: cover;
}
.iapb{
  object-fit: cover;
}
